body {
    background-color: beige;
  }
  
  .center-radio {
    margin: 0 auto;
    display: block;
  }
  
  h2 {
    text-align: center;
  }
  body {
      background-image: "C:\Users\USER\Pictures\Icecream Screen Recorder\Mathematics.png"
  }
  a:visited{
      color: green
  }
  a:hover{
      color: orangered
  }
  a:active{
      color: mediumaquamarine
  }